* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Tahoma, sans-serif;
}
.control-buttons {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(3, 169, 244, 0.9);
}
.control-buttons span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f44336;
  color: #fff;
  padding: 15px 25px;
  font-size: 30px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
.info-container {
  width: 94%;
  margin: 20px auto 0;
  background-color: #f6f6f6;
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid #2196f3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.info-container .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 2px solid #2196f3;
  padding-bottom: 20px;
  flex-wrap: wrap;
}
.info-container .leaderboard {
  width: 100%;
  text-align: center;
}
.info-container ul {
  padding: 0;
  margin: 0;
}
.info-container h2 {
  margin: 20px 0 10px;
  color: #caa04a;
}
.info-container ul li:first-of-type {
  background-color: #caa04a;
  color: white;
}
.info-container ul li:nth-of-type(2) {
  background-color: silver;
  color: white;
}
.info-container ul li:nth-of-type(3) {
  background-color: #b08d57;
  color: white;
}
@media (max-width: 767px) {
  .info-container .info {
    justify-content: center;
    gap: 25px;
  }
}
.memory-game-blocks {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 90%;
  margin: 20px auto;
}
.memory-game-blocks.no-clicking {
  pointer-events: none;
}
.memory-game-blocks .game-block {
  height: 170px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  width: 95%;
  margin: 0 10px 20px;
}
.memory-game-blocks .game-block .front {
  background-color: #333;
  line-height: 170px;
}
.memory-game-blocks .game-block .front:before {
  content: "?";
  color: #fff;
  font-size: 140px;
  font-weight: bold;
}
.memory-game-blocks .game-block .back {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}
.memory-game-blocks .game-block .back img {
  height: 100%;
  margin: auto;
}
@media (max-width: 767px) {
  .memory-game-blocks {
    grid-template-columns: repeat(3, 1fr);
  }
  .memory-game-blocks .game-block {
    height: 100px;
  }
  .memory-game-blocks .game-block .front {
    line-height: 100px;
  }
  .memory-game-blocks .game-block .front::before {
    font-size: 80px;
  }
  .memory-game-blocks .game-block .back img {
    width: 83%;
  }
}
.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid #2196f3;
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  pointer-events: none;
}
.pop-up-won,
.pop-up-lost {
  position: fixed;
  background-color: #009688;
  padding: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  color: white;
  border-radius: 10px;
  box-shadow: 0 0 45px 2px #4d4e4d;
  z-index: 3;
}
.pop-up-won p,
.pop-up-lost p {
  font-size: 20px;
}
.pop-up-lost {
  background-color: rgb(179, 10, 10);
  box-shadow: none;
}
